<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="rpinvoke.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <rpinvoke.Properties.Settings>
            <setting name="Target" serializeAs="String">
                <value>dnproxy.dll</value>
            </setting>
            <setting name="ExportClass" serializeAs="String">
                <value>D.N.Proxy</value>
            </setting>
            <setting name="CSC" serializeAs="String">
                <value>C:\Windows\Microsoft.NET\Framework\v2.0.50727\csc.exe</value>
            </setting>
            <setting name="ILDASM" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.8 Tools\ildasm.exe</value>
            </setting>
            <setting name="ILASM" serializeAs="String">
                <value>C:\Windows\Microsoft.NET\Framework\v2.0.50727\ilasm.exe</value>
            </setting>
            <setting name="ExportMethods" serializeAs="String">
                <value>load,unload,'request',getversion,notify,configure,execute,geturl,getschedule,geturlpost,logsend</value>
            </setting>
        </rpinvoke.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
